{% extends "irrigation/master.html" %}



{%block menuArduino%}active{% endblock%}

{% block content %}
	

	<div class="row">
			<div class="col-lg-12">
			<table class="table" id="moistureTable">
				<thead>
				<tr> <th>Arduinos</th><th> Status</th></tr>
				</thead>
				<tbody>
                  
				{% if arduinoList %}
				<form action="/arduinos/" method="POST">
					{%for arduino in arduinoList%}
						<tr>
							<td>Arduino UNO ReV3</td>
							<td>
								<input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken"/>
								<input type="hidden" value="{{arduino.status}}" name="status"/>
								
                                {% ifequal arduino.status 1 %}
                                    <button class="btn btn-danger">Desligar</button>
                                {%else%}
                                    <button type="submit" class="btn btn-success">Ligar</button>
                                {%endifequal%}
                            </td>
						
						</tr>
					{% endfor %}
				</form>
				{%endif%}
				</tbody>
			</table>
		</div>
	</div>


{% endblock%}


