{% extends "irrigation/master.html" %}



{%block menuLog%}active{% endblock%}

{% block content %}
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-body">
					Ultima Leituras: <span class="badge">
						{% if moistureList %}
								{{moistureList.0.moisture}}
						
						{% else %}
								Nenhum Registro
						{%endif%}</span>
				</div>
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-body">
					Status Sistema: 
					
					{% if Status %}
							{% ifequal Status.status  1 %}
					                <span class="badge">Ligado</span>
							{%else %}
							        <span class="badge">Desligado</span>
							{% endifequal%}
					{% endif%}
				</div>
			</div>
			
		</div>
		
	</div>

	<div class="row">
			<div class="col-lg-12">
			<table class="table" id="moistureTable">
				<thead>
				<tr> <th>Estado Solo ( % Umidade)</th><th> Data Leitura</th></tr>
				</thead>
				<tbody>
				{% if moistureList %}
					{%for moisture in moistureList%}
						<tr>
							<td>{{ moisture.moisture }}</td>
							<td>{{ moisture.date }}</td>
						</tr>
					{% endfor %}
				{%endif%}
				</tbody>
			</table>
		</div>
	</div>
{% endblock%}

{% block scripts%}
<script type="text/javascript">
	var json;
	
	var lastID={{moistureList.0.id}}
		$(document).ready(function(){
			getMoisture();
				//setInterval(getMoisture,5000);
		});
		function getMoisture(){
		      $.ajax({
                    type:'POST',
                    url:'getMoisture/',
                    data:{csrfmiddlewaretoken:'{{csrf_token}}',lastID:1}
                  
					}).done(function(data){
                        if(data!=""){
                             json=data;
                             $.each(json,function(idx,obj){
                                 $('#moistureTable tbody').prepend("<tr><td>"+obj.fields.moisture+"</td><td>"+obj.fields.date+"</td></tr>");
                             });
                        }
					});
	    }
</script>

{%endblock %}
